.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 532px;
  height: 381px;
  overflow-y: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
  pointer-events: auto;
}

.list::-webkit-scrollbar {
  display: none;
}
