pkgbase = rice-cooker
	pkgdesc = View, customize and share Hyprland rices
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/amarsbar/rice-cooker
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cargo
	makedepends = npm
	makedepends = rust
	depends = electron41
	depends = git
	depends = hyprland
	depends = polkit
	depends = quickshell
	optdepends = paru: preferred AUR helper for installing rice dependencies
	optdepends = yay: alternative AUR helper for installing rice dependencies
	optdepends = hyprpolkitagent: polkit authentication agent (any polkit agent works)
	provides = rice-cooker-backend
	conflicts = rice-cooker-backend
	conflicts = rice-cooker-backend-git
	conflicts = rice-cooker-git
	source = rice-cooker-0.1.0.tar.gz::https://github.com/amarsbar/rice-cooker/archive/refs/tags/v0.1.0.tar.gz
	source = rice-cooker.sh
	source = rice-cooker.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rice-cooker
