pkgbase = rice-cooker
	pkgdesc = View, customize and share Hyprland rices
	pkgver = 0.1.0.r0.g369950de
	pkgrel = 1
	url = https://github.com/amarsbar/rice-cooker
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cargo
	makedepends = npm
	makedepends = rust
	depends = electron41
	depends = git
	depends = hicolor-icon-theme
	depends = hyprland
	depends = polkit
	depends = qt6-5compat
	depends = qt6-multimedia
	depends = quickshell-git
	optdepends = paru: preferred AUR helper for installing rice dependencies
	optdepends = yay: alternative AUR helper for installing rice dependencies
	optdepends = hyprpolkitagent: polkit authentication agent (any polkit agent works)
	optdepends = ttf-material-symbols-variable: icon font for Whisker and Nandoroid
	optdepends = ttf-outfit: intended UI font for Whisker
	source = rice-cooker-0.1.0.r0.g369950de.tar.gz::https://github.com/amarsbar/rice-cooker/archive/369950de0126813d574536dceb3aa29ee0c23297.tar.gz
	source = rice-cooker.sh
	source = rice-cooker.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rice-cooker
